<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ready to Play?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/css/mystyle.css">
    <!-- <link rel="stylesheet/css" href="/public/assets/css/rtp-style.css"> -->
</head>
<body>

        <section class="hero is-success is-fullheight">
        <div class="hero-body">
          <div class="container">
              <img class="paper" src="/images/quiz_background.png">

                {{{ body }}}
                
          </div>
          </div>
        </div>
      </section>

    <script type="text/javascript" src="../../public/js/homepage.js"></script>

</body>
</html>