<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            <figure class="image is-128x128">
                <img class="is-rounded" src="{{user.avatar}}">
            </figure>
            <h2 class="title is-3 has-text-danger">{{user.username}}</h2>
            <button id="rtp-button" class="button is-success is-large">Ready to Play!</button>
        </div>
    </div>
    </div>
</section>

<script type="text/javascript" src="/js/homepage.js"></script>
