<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">

            <img class="paper" src="/images/paper_main.png">


            <h2 class="title is-3 has-text-danger" id="dashboardUsername">Hello {{user.username}}!</h2>
            <button id="rtp-button" class="button is-success is-large">Ready to Play?</button>
        </div>
    </div>
    </div>
</section>

<script type="text/javascript" src="/js/homepage.js"></script>
