<div class="container">
    <div id="scene">
        <div class="layer" data-depth="0.90"><img src="images/layer-17.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-3.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.30"><img src="images/layer-1.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.40"><img src="images/layer-2.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.60"><img src="images/layer-5.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.80"><img src="images/layer-4.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="1.00"><img src="images/layer-6.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="1.00"><img src="images/layer-7.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-8.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.20"><img src="images/layer-9.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.40"><img src="images/layer-10.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.60"><img src="images/layer-11.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.80"><img src="images/layer-12.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="1.00"><img src="images/layer-13.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="1.00"><img src="images/layer-14.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-15.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.80"><img src="images/layer-q.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-u.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.90"><img src="images/layer-i.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-z.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.50"><img src="images/layer-m.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.60"><img src="images/layer-a.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.80"><img src="images/layer-n.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.40"><img src="images/layer-ii.png" style="width: 100%;" alt=""></div>
        <div class="layer" data-depth="0.90"><img src="images/layer-aa.png" style="width: 100%;" alt=""></div>
        {{!-- <div class="layer" data-depth="0.20"><img src="images/layer-18.png" class="homepageLogin" style="width: 100%;"
                alt=""></div>
        <div class="layer" data-depth="0.20"><img src="images/layer-19.png" class="homepageSignUp" style="width: 100%;"
                alt=""></div> --}}

    </div>

    <img src="images/LogIn1.png" class="homepageLogin" style="width: 12%; left: 37%;"alt="">
    <img src="images/SignUp1.png" class="homepageSignUp" style="width: 12%; left: 57%;"alt="">

</div>

<!-- JS scripts to make the layers work -->

<script>
    $(document).ready(function () {
        setTimeout(() => {
            var scene = document.getElementById('scene');
            var parallax = new Parallax(scene);
        }, 100)
    })

    $(".homepageLogin").on("click", function (event) {
        event.preventDefault();

        console.log("login clicked")
        window.location.replace(`/login`);
    })

    $(".homepageSignUp").on("click", function (event) {
        event.preventDefault();

        console.log("signup clicked")
        window.location.replace(`/signup`);
    })

</script>