
<section class="hero is-success is-fullheight" id="bigImage">
    <div class="hero-body">
        <div class="container btnContainer">
            <img src="images/paperWithDoodles.png" class="paper">
            <div class="buttons">
                <a href="login"><img src="/images/loginBtn.png" id="loginBtn"></img></a>
                <a href="signup"><img src="/images/signUpBtn.png" id="signUpBtn"></img></a>
            </div>
        </div>
    </div>
</section>

