    <script src="/socket.io/socket.io.js"></script>
    <script>
        let currentUser = '{{user.username}}';
        let avatar = '{{user.avatar}}'
    </script>
    <script type="text/javascript" src="/js/lobby.js"></script>


    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <img src="/images/paperWithDoodles.png" class="paper">
                <div class="users">
                </div>
                <div id="timer" class="title is-3 has-text-success">
                </div>
        </div>
    </section>
