<script src="/socket.io/socket.io.js"></script>
<script>
    let currentUser = '{{user.username}}';
</script>


<section class="hero is-success is-fullheight" id="bigImage">
    <div class="hero-body">
        <div class="container">
            <img class="paper" src="images/quiz_background.png">


            <div id="bubble">
                <div id="qDiv">
                </div>
            </div>
            <div id="answer"></div>
        </div>
    </div>
    </div>
</section>


<script type="text/javascript" src="./js/algo.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
