<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container">
            <img class="paper" src="images/quiz_background.png">

            <img class ="win" src="images/win.png">
            <br>
            <img class= "playAgainBtn" src="images/play_btn.png" href="">
            <img class="homeBtn" src="images/home_btn.png" href="">

        </div>
    </div>
    </div>
</section>
