 <h2 class="title is-3 has-text-danger resultsUsername">{{username}}</h2>
                
    <img class ="lose" src="assets/images/luck.png">
        <br>
    <img class= "playAgainBtn" src="assets/images/play_btn.png" href="">
    <img class="homeBtn" src="assets/images/home_btn.png" href="">