body {
    margin: 0;
    padding: 0;
    background: url("/images/Artboard-1.jpg");
}
.homepageLogin, .homepageSignUp{
    position: absolute;
    bottom: 10%;
}

.container {
    width: 100% !important;
    height: 100vh; 
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.scene {
  width: 25%;
}

.hero-body {
    background-image: url("/images/greenBackground.jpg");
    background-size: cover;
}

/* styling for landing page */
.btnContainer {
    display: inline-block;
    position: relative;
}

.paper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    left: 0;
}

.paper1, .paper2 {
    width: 80%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobileTitle {
    display: none;
}

#loginBtn, #signUpBtn {
    position: absolute;
    padding: 15px;
    display: inline-block;
    width: 15%;
}

#loginBtn {
    left: 35%;
    bottom: 15%;
    background-color: rgb(153, 214, 62);
}

#signUpBtn {
    left: 53%;
    bottom: 15%;
    background-color: rgb(255, 176, 7);
}

/*styling for login page*/
.loginForm, .signUpForm {
    position: absolute;
    top: 30%;
    left: 40%;
    width: 30%;
}

.logininput, .loginPassInput, .usernameinput, .passwordinput {
    width: 60%;
}

/* styling for dashboard page */
#rtp-button {
    position: absolute;
    top: 47%;
    left: 45%;
}


#dashboardUsername {
    left: 47%;
    top: 37%;
    position: absolute;
}

/* styling for lobby page */
.user1 {
    position: absolute;
    right: 57%;
}
.user2 {
    position: absolute;
    right: 30%;
}
#timer {
    position: absolute;
    bottom: 20%;
    right: 38%;
}

/*styling for questions page */

#bubble {
    height:150px; 
    width:150px; 
    border-radius: 75px; 
    background-color: #332252; 
    position: absolute; 
    top: -250px; 
    left:45%
}

#qDiv {
    text-align: center;
    font-size:30px;
    font-weight:500; 
    color: white; 
    margin-top: 50px
}

#answer {
    border-radius: 5px;
    position: absolute;
    left:40%;
    bottom:45%;
    font-size:30px;
    text-align: center; 
    background-color: rgb(167, 109, 221);
    width: 20%;
    height:50px;
    box-shadow: 10px 10px 5px grey;
}

#controlTerminal {
    height: 200px; 
    width:100%; 
    background-color: lightcyan;
}

/* styling for results page */
.win {
    width: 30%;
    position: absolute;
    bottom: 40%;
    left: 35%;
}

.lose{
    width: 30%;
    position: absolute;
    bottom: 40%;
    left: 37%;
}

.playAgainBtn {
    width: 20%;
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.homeBtn {
    width: 14%;
    position: absolute;
    bottom: 30%;
    left: 33%;
}

.resultsUsername {
    position: absolute;
    top: 17%;
    left: 43%;
}

/* resizing landing page */
@media only screen and (max-width: 700px) {
    
    .hero-body {
        background-image: url("../images/background.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }

    
    .paper {
        display: none;
    }

    .mobileTitle {
        display: block;
        bottom: 5%;
    }

    #loginBtn, #signUpBtn {
        width: 10%;
        padding: 0%;
        display: inline-block;
        position: absolute;
    }

    #loginBtn {
        left: 20%;
        top: 10%;
        background-color: rgb(153, 214, 62);
        width: 30%;
    }
    
    #signUpBtn {
        left: 55%;
        top: 10%;
        background-color: rgb(255, 176, 7);
        width: 30%;
    }

    .loginForm, .signUpForm {
        position: absolute;
        top: 30%;
        left: 23%;
        width: 60%;
        height: 40%;
    }

    #bubble {
        height:150px; 
        width:150px; 
        border-radius: 75px; 
        background-color: #332252; 
        position: absolute; 
        top: -530px; 
        left:45%
    }

    .lose, .win {
        width: 70%;
        bottom: -400%;
        left: 20%;
    }

    .playAgainBtn {
        width: 60%;
        position: absolute;
        bottom: -1000%;
        left: 22%;
        display: block;
    }
    
    .homeBtn {
        width: 40%;
        position: absolute;
        bottom: -700%;
        left: 30%;
        display: block;
    }
  }