.hero-body {
    background-image: url("../../assets/images/greenBackground.jpg");
    background-size: cover;
}

/* styling for landing page */
.btnContainer {
    display: inline-block;
    position: relative;
}

.paper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    top: 0;
    left: 0;
}

#loginBtn, #signUpBtn {
    position: absolute;
    padding: 15px;
    display: inline-block;
    width: 15%;
}

#loginBtn {
    left: 35%;
    bottom: 15%;
    background-color: rgb(153, 214, 62);
}

#signUpBtn {
    left: 53%;
    bottom: 15%;
    background-color: rgb(255, 176, 7);
}

/*styling for login page*/
.loginForm, .signUpForm {
    position: absolute;
    top: 30%;
    left: 37%;
    width: 30%;
}

/*styling for questions page */

#bubble {
    height:150px; 
    width:150px; 
    border-radius: 75px; 
    background-color: #332252; 
    position: absolute; 
    top: -250px; 
    left:45%
}

#qDiv {
    text-align: center;
    font-size:30px;
    font-weight:500; 
    color: white; 
    margin-top: 50px
}

#answer {
    border-radius: 5px;
    position: absolute;
    left:40%;
    bottom:20%;
    font-size:30px;
    text-align: center; 
    background-color: rgb(167, 109, 221);
    width: 20%;
    height:50px;
    box-shadow: 10px 10px 5px grey;
}

#controlTerminal {
    height: 200px; 
    width:100%; 
    background-color: lightcyan;
}

/* styling for results page */
.win {
    width: 30%;
    position: absolute;
    bottom: 33%;
    left: 35%;
}

.lose{
    width: 30%;
    position: absolute;
    bottom: 33%;
    left: 37%;
}

.playAgainBtn {
    width: 20%;
    position: absolute;
    bottom: 22%;
    left: 50%;
}

.homeBtn {
    width: 14%;
    position: absolute;
    bottom: 22%;
    left: 33%;
}

.resultsUsername {
    position: absolute;
    top: 17%;
    left: 43%;
}